.hero-logo {
    max-width: 15%;
    max-height: 15%;
    margin: 5px;
}

.hero-tagline {
    max-width: 50%;
    max-height: 50%;
}

.smartphone-icon {
    max-width: 50%;
    max-height: 50%;
}

.discount-icon {
    max-width: 50%;
    max-height: 50%;
}

.cctv-icon {
    max-width: 50%;
    max-height: 50%;
}

.truck-icon {
    max-width: 50%;
    max-height: 50%;
}

.telephone-icon {
    max-width: 50%;
    max-height: 50%;
}

.heartbeat-icon {
    max-width: 50%;
    max-height: 50%;
}

.cybersecurity-icon {
    max-width: 50%;
    max-height: 50%;
}

.share-icon {
    max-width: 50%;
    max-height: 50%;
}